<div id="ym-reg" class="page-container wrapper">
  <div class="page-canvas">
    <div class="signup-wrapper">
      <h2>登陆</h2>
<%= simple_form_for Xcuser.new, :html => { :class => 'form-horizontal' }, method: :post, url: { controller: 'xcusers', action: 'login_commit' } do |f| -%>
    <%= f.error_notification %>
    <%= f.input :name, required: true %>
    <%= f.input :phone, required: true %>
  <div class="form-group">
    <%= f.submit '登陆', :disable_with => '登陆中...', :class => 'btn btn-primary' %>
    <h2>
      <span class="signin-helper">
        没有账号？ <a href="/xcusers/new" >
          立即注册</a> <i class="glyphicon glyphicon-chevron-right"></i>
      </span>
    </h2>
  </div>
  <% end %>
     </div>
  </div>
</div>