
<!-- <html > -->
<!-- <head> -->
<!-- <title>2015全国哮喘演讲</title> -->


<!-- </head> -->
<script language="javascript" type="text/javascript">
 jQuery(document).ready(function() {
  $('#countdown_dashboard').countDown({
   targetDate: {
     'day': 28,
     'month': 04,
     'year': 2015,
     'hour': 15,
     'min': 0,
     'sec': 0
     }
  });
});
</script>

<body>

<div id="content2015">
<div class="div01"> <%= image_tag("2015kv.jpg") %> </div>
<div class="fleft">
 <div class="div02">
  <div class="div03"><%= image_tag("title01.jpg") %></div>
  <span>“2015年全国哮喘规范化诊治巡回演讲”是由中国医师协会联合中国医师协会呼吸医师分会主办的年度大型巡讲项目。本次活动将采用主会场授讲、分会场网络视频同步以及在线观看等方式，使更多的临床医生获益。该项目旨在向国内呼吸系统领域的临床医师提供一个学习、交流哮喘规范化诊治的平台；并为其提供专业知识、技能教育、交流的服务系统。本站会议将于<font color="#e50012">2015年4月28日</font>在<font color="#e50012">北京潞河医院 (地址：北京市通州区新华南路82号)</font>举行，同时邀请到以下多位国内著名专家作专题学术报告。</span>
 </div>
 <div class="div02">
  <div class="div03"><%= image_tag("title02.jpg") %></div>
  <ul>
   <li><b>通州区主会场：</b>大会主席 林江涛教授（中日友好医院） </br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 胥振阳教授（北京潞河医院）</li>
   <li><b>良乡区分会场：</b>主席 闫春荣教授（良乡医院）</li>
   <li><b>平谷区分会场：</b>主席 靳秀红教授（平谷区医院）</li>
   <li><b>大兴区分会场：</b>主席 张永祥教授（大兴医院）</li>
  </ul>
 </div>
 <div class="div02">
  <div class="div03"><%= image_tag("title03.jpg") %></div>
  <div class="div04">
  <table width="640" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="3" scope="col">4月28日 星期二</th>
  </tr>
  <tr bgcolor="#f4f4f4">
    <td>15:00-15:30</td>
    <td>代表报到</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>15:30-15:35</td>
    <td>大会主席致辞</td>
    <td>林江涛教授</td>
  </tr>
  <tr bgcolor="#f4f4f4">
    <td>15:35-16:05</td>
    <td>从病理到临床深入了解哮喘</td>
    <td>吴昌归教授</td>
  </tr>
  <tr>
    <td>16:05-16:35</td>
    <td>中重度哮喘首选联合治疗</td>
    <td>马艳良教授</td>
  </tr>
  <tr bgcolor="#f4f4f4">
    <td>16:35-17:05</td>
    <td>长期管理对实现哮喘总体控制目标至关重要</td>
    <td>苏 &nbsp; 楠教授</td>
  </tr>
  <tr>
    <td>17:05-17:35</td>
    <td>答疑与讨论</td>
    <td>&nbsp;</td>
  </tr>
  <tr bgcolor="#f4f4f4">
    <td>17:35-17:40</td>
    <td>会议总结</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>17:40</td>
    <td>结束</td>
    <td>&nbsp;</td>
  </tr>
</table>
  
  </div>
 </div>
</div>
<div class="fright">
 <div class="div05"><%= image_tag("title04.jpg") %></div>
   <div class="div06">
    <div class="Content02a">
    <div id="countdown_dashboard" class="zb01">
     <div class="countdown">
                        <div class="dash days_dash">
                            <span class="dash_title">
                                天
                            </span>
                            <div class="digit">
                                0
                            </div>
                            <div class="digit">
                                0
                            </div>
                        </div>
                        <div class="dash hours_dash">
                            <span class="dash_title">
                                时
                            </span>
                            <div class="digit">
                                0
                            </div>
                            <div class="digit">
                                0
                            </div>
                        </div>
                        <div class="dash minutes_dash">
                            <span class="dash_title">
                                分
                            </span>
                            <div class="digit">
                                0
                            </div>
                            <div class="digit">
                                0
                            </div>
                        </div>
                        <div class="dash seconds_dash">
                            <span class="dash_title">
                                秒
                            </span>
                            <div class="digit">
                                0
                            </div>
                            <div class="digit">
                                0
                            </div>
                        </div>
                    </div>
 
    </div>
 <div class="div07"><a href="/xcusers/new"><%= image_tag("inmovie.jpg") %></a></div>
</div>
</div>
</body>
<!-- </html> -->
